.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-gray{
  background-color: #F9F9F9;
  min-height: 10rem;
  padding-top: 5rem;
}

.header-normal{
  min-height: 10rem;
  padding-top: 5rem;
}

.content-header-normal{
  padding: 1rem 0;
}

.content-body-normal{
  padding: 1rem 0 2rem 0;
}

.content-item-normal{
  padding-bottom: 1rem;
}

.page-content{
  margin-top: 1rem;
}

.bar-progress {
  height: 0.5rem;
}

.text-minuscula {
  text-transform: lowercase;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
